.single {

	.featured-img {
		height: 28em;
	}

	h1 {
		text-align: center;
		margin-bottom: rem-calc(32);
	}

	.post-date {
		@extend .secondary-color;
		font-weight: bold;
		font-style: italic;
		text-align: center;
	}
}