/* SVG Flourishes that appear on boxes */

.flourish {
	display: none;
}

@media #{$medium-up} {
	.flourish {
		display: block;
		position: absolute;
		width: rem-calc(208);
		height: rem-calc(152);

		&.top-left {
			top: 1em;
			left: 1em;
		}

		&.top-right {
			top: 1em;
			right: 1em;
		}

		&.bottom-right {
			bottom: 1em;
			right: 1em;
		}

		&.bottom-left {
			bottom: 1em;
			left: 1em;
		}
	}
}

/* Buttons */

.button,
.view-subscription {
	display: inline-block;
	padding: rem-calc(8) rem-calc(32);
	font-size: rem-calc(18);
	border: rem-calc(2) solid $primary-color;
	border-radius: rem-calc(4);

	&:hover {
		background: $primary-color;
		color: $white;
	}

	&.unstyled {
		border: rem-calc(2) solid transparent;
		padding: rem-calc(8) 0;

		&:hover {
			background: none;
			color: $primary-color;
		}
	}

	+ .button {
		margin: 0 0 0 1em;
	}
}

/* Margin options for .row elements */

.row {
	&.margin-bottom {
		margin-bottom: 4em;
	}
}

.row {
	.large-4,
	.large-6 {
		margin-bottom: 2em;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media #{$large-up} {
	.row {
		.large-4,
		.large-6 {
			margin-bottom: 0;
		}
	}
}

/* Button Row Margin */

.row {
	&.button-row {
		margin-top: 2em;

		.button {
			width: 100%;
		}
	}
}