.main-footer {
	text-align: center;

	.page-section {
		&.image {
			.overlay {
				padding: 8em 0;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0 0 2em;
		padding: 0;
		font-size: rem-calc(18);

		li {
			display: inline-block;
			margin: 0 .5em;

			svg {
				fill: $white;
				width: 2em;
				height: 2em;
			}

			a {
				color: $white;

				&:hover {
					color: darken( $white, 5 );
				}
			}
		}
	}

	.es-logo {
		display: inline-block;
		width: 3.5em;
		height: 3em;
		vertical-align: middle;
		margin-left: 1em;
	}
}
