.gform_confirmation_wrapper {
	text-align: center;
	padding: rows(1);
	border: .125rem solid $primary-color;
	font-size: rem-calc(18);
	border-radius: rem-calc(4);
}

.gform_wrapper {

	.validation_error {
		text-align: center;
		padding: rows(1);
		border: .125rem solid $primary-color;
		font-size: rem-calc(18);
		border-radius: rem-calc(4);
		margin-bottom: rows(4);

	}

	.gform_body {
		input,
		textarea,
		label {
			font-size: rem-calc(18);
		}

		select {
			display: block;
			background: #EFEDF0;
			color: #371E41;
			padding: .75em;
			border: 0;
			width: 100%;
			border-radius: rem-calc(4);
			margin-bottom: 2em;
			appearance: none;
			cursor: pointer;
			font-size: rem-calc(18);
			line-height: 1em;
		}

		.gfield {
			position: relative;

			&.gfield_error {
				.ginput_container {
					input,
					textarea {
						border: .125rem solid $primary-color;
					}
				}
			}

			label {
				display: none;
			}

			.ginput_container {
				input,
				textarea {
					display: block;
					background: #EFEDF0;
					color: #371E41;
					padding: .75em;
					border: 0;
					padding: rows(1);
					width: 100%;
					border-radius: rem-calc(4);

					&::-webkit-input-placeholder {
						color: $black;
					}
				}
			}

		}

		.gform_validation_container {
			display: none;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				position: relative;
				margin-bottom: 2em;

				&.input-type-email,
				&.input-type-password,
				&.input-type-text,
				&.input-type-textarea {
					overflow: auto;

					label {
						position: absolute;
						top: rem-calc(6);
						left: rem-calc(12);
					}

					input,
					textarea {
						display: block;
						background: #EFEDF0;
						color: #371E41;
						padding: .75em;
						border: 0;
						width: 100%;
						border-radius: rem-calc(4);

						&[data-stripe="exp_month"],
						&[data-stripe="exp_year"] {
							width: 3em;
							float: left;
							margin-right: 1em;
						}
					}
				}
			}
		}
	}
	.gform_footer {

		.gform_button {
			background: #EFEDF0;
			margin-right: rows(1);

			&:hover {
				background: $primary-color;
			}
		}
	}
}

@media #{$medium-up} {
	.gform_wrapper {
		width: 75%;
		margin: 0 auto;
	}
}

@media #{$large-up} {
	.gform_wrapper {
		width: 50%;
		margin: 0 auto;
	}
}