.no-js-banner {
	background: $primary-color;
	color: $white;
	text-align: center;
	padding: 1em;

	p {
		margin: 0;
	}
}

header {
	ul {
		display: flex;
		flex-wrap: no-wrap;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 1em 0;

		li {
			display: none;
			text-align: center;
			a {
				font-size: rem-calc(18);
			}

			&.menu-item-home {
				display: block;
			}
		}
	}

	.menu-button {
		background: $light-gray;
		font-size: rem-calc(18);
		text-align: center;
		padding: 1em;
		display: block;
	}
}

.mobile-menu-overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba($black, .45);

	&.toggled {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul {
		margin: 0;
		padding: 0;
		margin: 0 auto;
		list-style: none;

		li {
			margin: 1em 0;
		}

		a {
			display: block;
			background: $white;
			padding: .5em 1em;
			width: 100%;
			text-align: center;
		}
	}
}

@media #{$large-up} {
	header {
		ul {
			li {
				width: 20%;
				display: block;
			}
		}
	}
}
