.svg-sprite {
	display: none;
}

.page-section {
	padding: 4em 0;

	&.patterned {
		background: url('images/patterned-section-bg.jpg') center;
	}

	&.image {
		padding: 0;

		.overlay {
			background: rgba( #371E41, .4 );
			padding: 2em 0;
			text-align: center;
			color: $white;
		}
	}

	&.white {
		background: $white;
	}

	&.purple {
		background: $primary-color;
		color: $white;
	}

	&.no-bottom-padding {
		padding-bottom: 0;
	}
}

@media #{$large-up} {

	.alignnone {
		margin: rem-calc(8) rem-calc(16) rem-calc(16) 0;
	}

	.aligncenter {
		display: block;
		margin: rem-calc(8) auto;
	}

	.alignright {
		float: right;
		margin: rem-calc(8) 0 rem-calc(16) rem-calc(16);
	}

	.alignleft {
		float: left;
		margin: rem-calc(8) rem-calc(16) rem-calc(16) 0;
	}

	.page-section {
		&.image {
			.overlay {
				padding: 4em 0;
			}
		}
	}
}