.page-section {
	.bordered-container {
		text-align: center;
	}

	&.image {
		color: $white;

		a {
			color: $white;
		}

		.button {
			color: $white;
			border: 2px solid $white;
		}
	}
}

@media #{$medium-up} {
	.page-section {
		.bordered-container {
			padding: 4em;
			position: relative;
		}

		&.white {
			.bordered-container {
				border: rem-calc(10) solid $light-gray;

				.flourish {
					fill: $light-gray;
				}

				&.subscription-round-up {
					padding: 2em 1em 1em;
					margin-bottom: 4em;

					&.error-form {
						margin-bottom: 0;
						border: rem-calc(10) solid #c0392b;
					}
				}
			}
		}

		&.image {
			.bordered-container {
				border: rem-calc(10) solid $white;;

				.flourish {
					fill: $white;
				}
			}
		}
	}
}

@media #{$large-up} {
	.page-section {
		.bordered-container {
			padding: 8em 0;
		}
	}
}