.content-row {
	margin-bottom: 4em;

	&:last-of-type {
		margin-bottom: 0;
	}

	.panel {
		background: $white;
		padding: 2em;

		p {
			@extend .secondary-color;
			font-weight: bold;
			font-style: italic;
		}
	}
}