@media #{$medium-up} {
	.gin-bottle-container {
		margin-top: -8em;
	}
}

@media #{$large-up} {
	.gin-bottle-container {
		position: relative;
		margin: 0;

		img {
			position: absolute;
			top: -11em;
			left: 0;
			z-index: 2;
			height: 33em;
		}
	}
}