.newsletter-form {
	h3 {
		text-align: center;
		margin-bottom: rem-calc(48);
	}

	input {
		padding: rem-calc(12) rem-calc(16);
		background: $white;
		border: 2px solid $white;
		border-radius: rem-calc(4);
		width: 100%;
		font-size: rem-calc(18);
		margin-bottom: 2em;

		&[type="email"] {
			color: $black;
		}


		&[type="submit"] {
			background: none;
			margin-bottom: 0;
			&:hover {
				background: $white;
				color: $primary-color;
			}
		}
	}
}

@media #{$medium-up} {
	.newsletter-form {
		input {
			margin-bottom: 0;
		}
	}
}
