.page-section {
	&.white {
		.bordered-container {
			text-align: center;

			.gin-bottle-single {
				margin: -5em 0 2em;
			}
		}
	}
}

@media #{$medium-up} {
	.page-section {
		&.white {
			.bordered-container {
				&.gin-archive {
					padding: 1em;
					margin-top: 3em;
				}
			}
		}
	}
}

@media #{$large-up} {
	.page-section {
		&.white {
			.bordered-container {
				&.gin-archive {
					padding: 2em;
					margin-top: 5em;
				}
			}
		}
	}
}
