.subscription-form-page {
	position: relative;
}

.ajax-loading-image {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url('images/loading-spinner.gif') center no-repeat rgba($white, .8);
	z-index: 4;
	display: none;
}

.form-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;

	.step-button {
		text-align: center;
		z-index: 2;

		.icon {
			display: block;
			margin:  0 auto .5em;
			width: rem-calc(96);
			height: rem-calc(96);
			line-height: rem-calc(76);
			background: $white;
			border: 10px solid $secondary-color;
			color: $secondary-color;
			font-size: rem-calc(24);
			border-radius: 100%;
		}

		> p {
			font-weight: bold;
			color: $secondary-color;
		}

		&.step-1 {
			.icon {
				background: $primary-color;
				color: $white;
				border: 10px solid $primary-color;
			}

			> p {
				color: $primary-color;
			}
		}
	}

	.progress-bar {
		z-index: 1;
		position: absolute;
		background: $secondary-color;
		height: 10px;
		top: rem-calc(43);
		width: 50%;

		&.left {
			left: rem-calc(8);
		}

		&.right {
			right: rem-calc(8);
		}

		&.toggled {
			background: $primary-color;
		}
	}

	&.form-page-2,
	&.form-page-3 {
		.step-2 {
			.icon {
				background: $primary-color;
				color: $white;
				border: 10px solid $primary-color;
			}

			> p {
				color: $primary-color;
			}
		}

		.left {
			background: $primary-color;
		}
	}

	&.form-page-3 {
		.step-3 {
			.icon {
				background: $primary-color;
				color: $white;
				border: 10px solid $primary-color;
			}

			> p {
				color: $primary-color;
			}
		}

		.right {
			background: $primary-color;
		}
	}

	&.form-page-confirmation {
		display: none;
	}
}

.subscription-form {
	h3 {
		text-align: center;
		margin-bottom: 1em;
	}

	input,
	label {
		font-size: rem-calc(18);
	}

	select {
		display: block;
		background: url('images/svg/select-dropdown.svg') center no-repeat #EFEDF0;
		background-position: right 1em top 50%;
		color: #371E41;
		padding: .75em 3em .75em .75em;
		border: 0;
		width: 100%;
		border-radius: rem-calc(4);
		margin-bottom: 2em;
		appearance: none;
		cursor: pointer;
		font-size: rem-calc(18);
		line-height: 1em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			margin-bottom: 2em;
			clear: left;

			&.input-type-email,
			&.input-type-password,
			&.input-type-text,
			&.input-type-textarea {
				overflow: auto;

				label {
					position: absolute;
					top: rem-calc(6);
					left: rem-calc(12);
				}

				input,
				textarea {
					display: block;
					background: #EFEDF0;
					color: #371E41;
					padding: .75em;
					border: 0;
					width: 100%;
					border-radius: rem-calc(4);

					&[data-stripe="exp_month"],
					&[data-stripe="exp_year"] {
						width: 3em;
						float: left;
						margin-right: 1em;
					}
				}
			}

			&.input-type-textarea {
				label {
					top: rem-calc(10);
				}

				textarea {
					height: 8em;
				}
			}

			&.input-type-submit {
				button {
					width: 100%;
					background: $white;
					color: $primary-color;
					border: 3px solid $primary-color;
					border-radius: rem-calc(4);
					padding: .75em;
				}
			}

			&.input-type-checkbox {
				input {
					display: inline-block;
					appearance: none;
					background: $white;
					border: 2px solid $secondary-color;
					height: rem-calc(50);
					width: rem-calc(50);
					margin-right: 1em;
					border-radius: rem-calc(6);
					cursor: pointer;
					vertical-align: middle;

					&:checked {
						background: url('images/svg/icon_check.svg') center no-repeat $secondary-color;
					}
				}
			}

			&.class-str-expiry-date {
				float: left;
				clear: none;
			}

			&.show-for-gift,
			&.show-for-subscription {
				display: none;
			}
		}

		&.is-gift {
			.show-for-gift {
				display: block;
			}
		}

		&.is-subscription {
			.show-for-subscription {
				display: block;
			}
		}
	}
}

.delivery-address {
	list-style: none;
	margin: 3em 0 0;
	padding: 0;
}
