.subscription-section {
	text-align: center;

	.subscription-box {
		.flourish {
			display: none;
		}
	}

	.subscription-method {
		margin-bottom: 2em;
	}

	.subscription-method-icon {
		width: 100%;
	}
}

@media #{$medium-up} {
	.subscription-section {
		text-align: left;

		.subscription-details {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

@media #{$large-up} {
	.subscription-section {
		text-align: center;

		.subscription-box {
			position: relative;

			.flourish {
				position: absolute;
				display: block;
				width: 25%;
				height: 4.5em;
			}

			.top-right {
				top: 0;
				right: -1.125em;
			}

			.top-left {
				top: 0;
				left: -1.125em;
			}

			.bottom-right {
				bottom: 0;
				right: -1.125em;
			}

			.bottom-left {
				bottom: 0;
				left: -1.125em;
			}
		}

		.subscription-details {
			padding: 4em 0 0;
			display: block;
		}
	}
}