.testimonial {
	img {
		margin-bottom: 1em;
		border-radius: 100%;
	}

	blockquote {
		border: 0;
		padding: 0;

		p {
			font-size: rem-calc(23);
			color: $white;
			font-style: italic;
		}

		footer {
			color: $white;
			font-weight: bold;
			font-style: italic;
		}
	}
}

@media #{$medium-up} {
	.testimonial {
		blockquote {
			p {
				font-size: rem-calc(28);
			}
		}
	}
}